{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <!-- Metadata/Konfigurasi -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        {% block meta %} {% endblock meta %}
    </head>

    <body class="bg-gray-50 font-sans antialiased">
        {% block navbar %}
            {% include 'partials/navbar.html' %}
        {% endblock navbar %}

        <!-- Content/Komponen -->
        <main>
            {% block content %} {% endblock content %}
        </main>
        
        {% include 'toast.html' %}    
        {% include 'modal.html' %}    
        {% include 'partials/footer.html' %} 

        <script>
            // Script untuk toggle menu hamburger
            document.getElementById('hamburger-btn').addEventListener('click', function() {
                document.getElementById('mobile-menu').classList.toggle('show');
            });
        </script>
    </body>
</html>